* {
    background-color: lightpink;
}

#content {
    display: flex;
    flex-direction: column;
}

nav button {
    background-color: lightblue;
}

#content h1 {
    text-align: center;
    color: darkred;
}

#content p {
    text-align: center;
}

#content img {
    height: 350px;
    width: min-content;
    align-self: center;
}

.pHome2 {
    white-space: pre;
}