* {
    background-color: lightpink;
}

nav button {
    background-color: lightblue;
}

/* home tab  */

.homeDiv, .menuDiv {
    display: flex;
    flex-direction: column;
}


.homeDiv h1, .menuDiv h1 {
    text-align: center;
    color: darkred;
}

.homeDiv, .menuDiv p {
    text-align: center;
}

.homeDiv img {
    height: 350px;
    width: min-content;
    align-self: center;
}

.pHome2 {
    white-space: pre;
}

/* menu tab  */

.menuDiv h4 {
    color: slateblue;
    text-align: center;
}

.menuDiv img {
    height: 250px;
    width: min-content;
    align-self: center;
}
